.idea/
/node_modules
/public/hot
/public/storage
/public/assets/banner/*.jpg
/public/assets/banner/*.jpeg
/public/assets/banner/*.png
/public/assets/album/*
!/public/assets/album/keterangan.txt
/storage/*.key
/vendor
.env
.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
